body {
    background-color: #8B4513;

}
p {
    font-family: "Times New Roman"; font-size: 25; background-color: #BC8F8F;

}
li {
    font-size: 20; color: #FF0000;

}
input {
    color: #000000; background-color: #FFFFFF;
}